ShiftSyncPro/Web References/localhostEmployee/EmployeeManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nic" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="epfNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="depId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="position" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="empTel" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="empMail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dob" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dateOfJoining" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="empStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emergencyContactName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emergencyContactNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="emailVerified" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="photoUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departmentName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="salary" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertEmployeeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employee" type="tns:Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NIC" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EPFNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DepId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EmpTel" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpMail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfJoining" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmergencyContactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmergencyContactNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EmailVerified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PhotoUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Salary" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdatedAt" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateEmployeeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteEmployeeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindEmployeeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllEmployeesNotInUserTable">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeesNotInUserTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeesNotInUserTableResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="InsertEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="FindEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:FindEmployee" />
  </wsdl:message>
  <wsdl:message name="FindEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:FindEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeesNotInUserTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesNotInUserTable" />
  </wsdl:message>
  <wsdl:message name="GetAllEmployeesNotInUserTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesNotInUserTableResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeeManagementServiceSoap">
    <wsdl:operation name="InsertEmployee">
      <wsdl:input message="tns:InsertEmployeeSoapIn" />
      <wsdl:output message="tns:InsertEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input message="tns:UpdateEmployeeSoapIn" />
      <wsdl:output message="tns:UpdateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input message="tns:DeleteEmployeeSoapIn" />
      <wsdl:output message="tns:DeleteEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindEmployee">
      <wsdl:input message="tns:FindEmployeeSoapIn" />
      <wsdl:output message="tns:FindEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input message="tns:GetAllEmployeesSoapIn" />
      <wsdl:output message="tns:GetAllEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeesNotInUserTable">
      <wsdl:input message="tns:GetAllEmployeesNotInUserTableSoapIn" />
      <wsdl:output message="tns:GetAllEmployeesNotInUserTableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeManagementServiceSoap" type="tns:EmployeeManagementServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://tempuri.org/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://tempuri.org/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEmployee">
      <soap:operation soapAction="http://tempuri.org/FindEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeesNotInUserTable">
      <soap:operation soapAction="http://tempuri.org/GetAllEmployeesNotInUserTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeeManagementServiceSoap12" type="tns:EmployeeManagementServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEmployee">
      <soap12:operation soapAction="http://tempuri.org/InsertEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap12:operation soapAction="http://tempuri.org/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap12:operation soapAction="http://tempuri.org/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEmployee">
      <soap12:operation soapAction="http://tempuri.org/FindEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap12:operation soapAction="http://tempuri.org/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployeesNotInUserTable">
      <soap12:operation soapAction="http://tempuri.org/GetAllEmployeesNotInUserTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeManagementService">
    <wsdl:port name="EmployeeManagementServiceSoap" binding="tns:EmployeeManagementServiceSoap">
      <soap:address location="https://localhost:44308/EmployeeManagementService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeeManagementServiceSoap12" binding="tns:EmployeeManagementServiceSoap12">
      <soap12:address location="https://localhost:44308/EmployeeManagementService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>